{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'mybideo/style.css' %}" />


<h1>{{ movie.movie_title }}</h1>
<img src="{% static movie.image_path %}")>

<h2>Director:</h2>
<ul>
{% for mi in movie.movieinfo_set.all %}
    {% if mi.movie_director %}
        <li><strong>{{ mi.movie_director }}</strong></li>
    {% endif %}
{% endfor %}
</ul>

<h2>Genre:</h2>
<ul>
{% for mi in movie.movieinfo_set.all %}
    {% if mi.movie_genre %}
        <li><strong>{{ mi.movie_genre }}</strong></li>
    {% endif %}
{% endfor %}
</ul>

<h2>Stars:</h2>
<ul>
{% for mi in movie.movieinfo_set.all %}
    {% if mi.movie_cast %}
        <li><strong>{{ mi.movie_cast }}</strong></li>
    {% endif %}
{% endfor %}
</ul>
